:root{
  --rss-logo-color: #f6a000;
  --fb-logo-color: #3a5693;
  --tumblr-logo-color: #32455a;
  --twitter-blue: #1ea1f1;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.search-bar{
  display: flex;
  margin-left: 150px;
}

.search-bar {
  height: 40px;
}

.search-bar > input{
  width: 250px;
}

.search-btn{
  background-color: var(--twitter-blue);
  border: none;
  color: white;
}

.sm-links{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 5px;
  margin-left: 150px;
}

.sm-links > div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: white;
}

.a {
  background-color: var(--rss-logo-color);
}

.b{
  background-color: var(--fb-logo-color);
}

.c{
  background-color: var(--tumblr-logo-color);
}
